.container {
	max-width: 1200px;
	margin: 8rem auto;
	background-color: var(--color-grey-light-2);
	box-shadow: var(--shadow-dark);

	/* TODO */
	min-height: 50rem;
}

.content {
	display: flex;
}

.hotel-view {
	background-color: #fff;
	flex: 1;

	height: 50rem;
}
